#inicio{
    width: 100%;
    /* height: 85vh; */
    background-color: #F7F8FA;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* d-flex align-items-center justify-content-center */
}

.img-inicio{
    text-align: center;
}

#inicio.container {
    text-align: center;
    padding-top: 50px;
}

#inicio .btn-conheca {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid var(--primary-color);
    color: #fff;
    text-decoration: none;
}

.indicador-sobre{
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
}

#inicio .btn-conheca:hover {
    background: var(--primary-color);
}

.abaixo{
    display: none;
}

.beneficios-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.beneficios-list-item i {
    font-size: 25px;
    margin-bottom: 2px;
    margin-right: 10px;
    color: var(--primary-color);
}

@media (max-width: 575px){
    .texts-inicio-area{
        margin-top: 1.5rem;
    }

    #inicio{
        /* height: 90vh; */
        padding: 30px 12px;
        justify-content: flex-start !important;
        align-items: baseline;
    }
}

@media(max-width: 991px){
    #inicio{
        /* height: 60vh; */
        padding: 80px 12px;
        justify-content: flex-start !important;
        align-items: baseline;
    }

    .abaixo{
        display: block;
    }

    .aolado{
        display: none;
    }

    .box-submenu{
        padding: 0px;
    }
}