body{
    background-color: #F7F8FA;
}

#logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-area img{
    width: 70px;
}

#logo-area h1{
    font-size: 25px;
}

#header{
    padding: 40px 0px;
}

#img-area img{
    max-height: 800px;
    object-fit: cover;
}

#progress-financiamento{
    height: 0.5rem !important;
}

#breadcrumb{
    color: #6a6c72;
    font-weight:400;
}

.progress-bar{
    background-color: var(--primary-color);
}

.btnSubmit, .btnSubmitLoading{
    width: 100% !important;
    padding: 8px 0px !important;
}

#voltar{
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--text-secondary);
    padding: 8px 20px !important;
    background-color: black;
    font-weight: bolder;
}

#voltar:hover{
    color: var(--text-primary);
    text-decoration: underline;
}

/* #btn-submit{
    display: none;
} */

#step-2{
    display: none;
}

.btnSubmitLoading{
    display: none;
}

#btn-area{
    display: flex;
    justify-content: center;
}

/* #step-1{
    display: none;
} */

.contact-input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dee2e6 !important;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-input-area i{
    font-size: 20px !important;
}

.loading-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    display: none;
}

.desc-contact{
    margin-right: auto;
    /* font-weight: bold; */
    color: #6a6c72;
}

.check-contact{
    visibility: hidden;
}

.contact-input-selected{
    border: 1px solid var(--primary-color) !important;
    transition: 0.2s;
}

.contact-input-selected > .desc-contact{
    color: var(--primary-color) !important;
}

.contact-input-selected > i{
    color: var(--primary-color) !important;
}

@media(max-width: 991px){
    #img-area{
        display: none !important;
    }
}

@media(max-width:575px){
    .mb-sub-sm{
        margin-bottom: 1rem !important;
    }
}