body{
    background-color: #F7F8FA;
}

#logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-area img{
    width: 70px;
}

#logo-area h1{
    font-size: 25px;
}

#header{
    padding: 40px 0px;
}

#img-area img{
    max-height: 800px;
}

#progress-financiamento{
    height: 0.5rem !important;
}

#breadcrumb{
    color: #6a6c72;
    font-weight:400;
}

.progress-bar{
    background-color: var(--primary-color);
}

.contact .php-email-form {
    box-shadow: 0 0 20px rgb(65 76 100 / 5%);
    padding: 30px;
}

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 20px rgb(65 76 100 / 5%);
    padding: 20px 0 30px 0;
}

.default-input{
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
}

.input-label{
    font-weight: bolder;
    color: var(--text-primary);
}

.default-input:focus {
    outline: none !important;
    border:1px solid var(--primary-color);
    box-shadow: none
}

.invalid-msg{
    margin-top: 0px !important;
    color: red;
    font-size: 14px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 14px;
}

#btn-submit{
    width: 95% !important;
    padding: 8px 0px !important;
}

#btn-area{
    display: flex;
    justify-content: center;
}

@media(max-width: 991px){
    #img-area{
        display: none !important;
    }
}

@media(max-width:575px){
    .mb-sub-sm{
        margin-bottom: 1rem !important;
    }
}