body{
    background-color: #F7F8FA;
}

#logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-area img{
    width: 70px;
}

#logo-area h1{
    font-size: 25px;
}

#header{
    padding: 40px 0px;
}

#img-area img{
    max-height: 800px;
}

#progress-financiamento{
    height: 0.5rem !important;
}

#breadcrumb{
    color: #6a6c72;
    font-weight:400;
}

.progress-bar{
    background-color: var(--primary-color);
}

#btn-submit{
    width: 95% !important;
    padding: 8px 0px !important;
}

#btn-area{
    display: flex;
    justify-content: center;
}

@media(max-width: 991px){
    #img-area{
        display: none !important;
    }
}

@media(max-width:575px){
    .mb-sub-sm{
        margin-bottom: 1rem !important;
    }
}