#inicio{
    width: 100%;
    height: 80vh;
    background: url("../imgs/app/home-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#inicio:before {
    content: "";
    background: rgba(45, 53, 69, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#inicio .container {
    text-align: center;
    padding-top: 50px;
}

.text-inicio{
    color: white;
}

#sub-titulo-ti{
    font-size: 16px;
}

#inicio .btn-conheca {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
    text-decoration: none;
}

#inicio .btn-conheca:hover {
    background: #ffc107;
}

/* 
========================
Sobre
========================
 */

section {
   padding: 60px 0; 
}

.about h2 {
    color: #414c64;
}

.about h4 {
    color: #444444;
}

.about i {
    font-size: 40px;
    margin-top: 15px;
    color: #8b97b3;
}

/* 
========================
Clientes
========================
 */

.section-bg {
    background-color: #f7f8fa;
}

.clientes {
    padding: 15px 0;
    text-align: center;
}

.clientes {
    padding: 15px 0;
    text-align: center;
}

.clientes img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.clientes img:hover {
    filter: none;
    transform: scale(1.15);
}

/* 
========================
Serviçoes
========================
 */

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.section-title p {
    color: #aab3c7;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #ffc107;
    bottom: 0;
    left: calc(50% - 25px);
}
