.logo-menu{
    font-size: 18px !important;
    color:#161616 !important;
    font-weight: bold;
}

.logo-menu.logo-menu-header-scrolled{
    color: white !important;
    font-weight: 600;
}

.header-font{
    line-height:25.05px;
    vertical-align:baseline;
    letter-spacing:0.3px;
    font-weight:600;
}

.nav-opt{
    color:#161616 !important;
    font-weight: bold;
}

.nav-opt.nav-header-scrolled{
    color: white !important;
    font-weight: 600;
    font-size:15px;
}

#header {
    transition: top 0.5s;
    /* top:-200px; */
    z-index: 997;
    padding: 2px 0;
    background: #F7F8FA;
    /* background-color: rgb(55, 64, 85); */
    width: 100%;
}

#header.header-scrolled {
    background: rgb(55, 64, 85);
    background: linear-gradient(183deg,rgb(21, 33, 119),rgb(55, 64, 85));
    padding: 5px 0;
    top:0;
    animation-name: upToDown;
    animation-duration: 0.3s;
    position: fixed;
}

.btn-simu-area{
    padding: 0px 20px;
    margin-left: 20px;
}

.menu-btn {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}
.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #161616;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #161616;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(100, 100, 100, 0.2); */
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@keyframes upToDown {
    from {
        top:-200px;
    }
    to {
        top: 0;
    }
}

@media (max-width: 991px){
    .menu-btn{
        display: flex !important;
    }

    .btn-simu-area{
        padding: 0px;
        margin-left:0px;
    }
}