.logo-menu{
    font-size: 18px !important;
    color:#161616 !important;
    font-weight: bold;
}

.logo-menu.logo-menu-header-scrolled{
    color: white !important;
    font-weight: 600;
}

.header-font{
    line-height:25.05px;
    vertical-align:baseline;
    letter-spacing:0.3px;
    font-weight:600;
}

.nav-opt{
    color:#161616 !important;
    font-weight: bold;
}

.nav-opt.nav-header-scrolled{
    color: white !important;
    font-weight: 600;
    font-size:15px;
}

#header {
    z-index: 997;
    padding: 2px 0;
    background: #F7F8FA;
    width: 100%;
}

#header.header-scrolled {
    background: rgb(55, 64, 85);
    background: linear-gradient(183deg,rgb(21, 33, 119),rgb(55, 64, 85));
    padding: 5px 0;
    top:0;
    animation-name: upToDown;
    animation-duration: 0.3s;
    position: fixed;
}

.btn-simu-area{
    padding: 0px 20px;
    margin-left: 20px;
}

.menu-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bars {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.bars-scrolled{
    background-color: white;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

@keyframes upToDown {
    from {
        top:-200px;
    }
    to {
        top: 0;
    }
}

@media (max-width: 991px){
    .menu-btn{
        display: flex !important;
    }

    .btn-simu-area{
        padding: 0px;
        margin-left:0px;
    }
}